.slider-container-product {
  position: relative;

  .slick-arrow {
    display: none !important;

  }

  .slick-dots {
    background-color: #fff;
    height: 50px;
    display: grid;
    place-content: center;
    position: static;

    li {
      width: 10px;

      button::before {
        font-size: 11.5px;
      }
    }
  }

  .slick-slide {
    div {
      div {
        height: 590px !important;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}