@use "./colors";

@mixin button-fromtransparent-to-yellowblack($fz) {
  background-color: transparent;
  color: #000000;
  border: 0.052083vw solid #000000;
  border-radius: 3.125vw;
  line-height: 1.3;
  padding: 0.416667vw 0.78125vw;
  font-size: $fz;
  cursor: pointer;

  display: grid;
  place-content: center;

  &:hover {
    text-decoration: underline;
    color: colors.$yellow;
    background-color: #000000;
  }
}

@mixin section-top-left-div {
  width: fit-content;

  h2 {
    font-size: 4.791667vw;
    margin-bottom: 3.4375vw;
  }

  p {
    margin-bottom: 0.833333vw;
    font-size: 1.041667vw;
  }

  a {
    display: grid;
    place-content: center;
    color: colors.$yellow;
    width: 5.416667vw;
    height: 1.666667vw;
    background-color: #000000;
    border-radius: 5.208333vw;
    border: none;
    font-size: 0.625vw;
  }
}

@mixin sale($bcc) {
  z-index: 2;
  position: absolute;
  top: 0.722656vw;
  left: 0.722656vw;
  background-color: $bcc;
  border: none;
  padding: 0.104167vw 0.625vw;
  color: #404040;
  font-size: 0.625vw;
}

@mixin showSecondImageHover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s;

  &.image-1 {
    z-index: 1;

    &:hover {
      opacity: 0;

      &+.image-2 {
        opacity: 1;
      }
    }
  }

  &.image-2 {
    opacity: 0;
  }
}

@mixin floatingBackgroundedSection($background_pos2) {
  width: 100%;
  min-height: 43.75vw;
  // background-image: url("/images/hero_section.avif");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center $background_pos2;
  // background-color: red;

  display: flex;
  padding: 3.333333vw 4.84375vw 4.166667vw 1.25vw;
  flex-direction: column;
  justify-content: space-between;

  .left-top {
    @include section-top-left-div;
  }

  .right-bottom {
    align-self: flex-end;
    width: 26.770833vw;
    height: 14.447448vw;
    border-radius: 0.260417vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.416667vw;
    display: flex;

    .img-container {
      flex-shrink: 0;
      height: 100%;
      width: 18.072917vw;
      position: relative;

      img {
        @include showSecondImageHover;
      }

      .sale {
        @include sale(colors.$yellow);
      }
    }

    .product-data {
      padding: 0.833333vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .name-and-price {
        display: flex;
        flex-direction: column;
        gap: 0.208333vw;

        h4 {
          font-size: 0.625vw;
        }

        .price-pt {
          display: flex;
          gap: 0.208333vw;
          font-size: 0.729167vw;

          ins {
            text-decoration: none;
          }

          del {
            color: #808080;
          }
        }
      }

      .add {
        @include button-fromtransparent-to-yellowblack(0.833333vw);
      }
    }
  }
}

@mixin marquee-container-style($height, $color, $fz) {
  overflow: hidden;
  background-color: #000;
  height: $height;
  display: flex;
  align-items: center;

  .marquee-track {
    display: flex;
    width: max-content;
    animation: marquee-slide 40s linear infinite;


    .running-line {
      display: flex;
      font-size: $fz;
      gap: 2.5vw;
      white-space: nowrap;
      padding: 0;
      align-items: center;
      margin-inline: 1.25vw;

      li {
        color: $color;
        line-height: 1.2;
        flex-shrink: 0;

      }
    }
  }
}

@keyframes marquee-slide {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}


@mixin lil-section-name {
    padding-block: 5.833333vw 1.666667vw;
    display: flex;
    justify-content: space-between;

    h2 {}

    a {
      @include button-fromtransparent-to-yellowblack(0.625vw);
    }
}