@use "./colors";

@mixin button-fromtransparent-to-yellowblack($fz) {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 60px;
  line-height: 1.3;
  padding: 8px 15px;
  font-size: $fz;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: colors.$yellow;
    background-color: #000000;
  }
}

@mixin section-top-left-div {
  width: fit-content;

  h2 {
    font-size: 92px;
    margin-bottom: 66px;
  }

  p {
    margin-bottom: 16px;
    font-size: 20px;
  }

  a {
    display: grid;
    place-content: center;
    color: colors.$yellow;
    width: 104px;
    height: 32px;
    background-color: #000000;
    border-radius: 100px;
    border: none;
    font-size: 12px;
  }
}

@mixin sale($bcc) {
  z-index: 2;
  position: absolute;
  top: 13.875px;
  left: 13.875px;
  background-color: $bcc;
  border: none;
  padding: 2px 12px;
  color: #404040;
  font-size: 12px;
}

@mixin showSecondImageHover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s;

  &.image-1 {
    z-index: 1;

    &:hover {
      opacity: 0;

      &+.image-2 {
        opacity: 1;
      }
    }
  }

  &.image-2 {
    opacity: 0;
  }
}