@use "../../../sass/mixins" as *;
@use "../../../sass/colors" as colors;

.floating-background-section {
  background-image: url("https://static.wixstatic.com/media/c837a6_6b04b65869124042a744e4d732b75473~mv2.jpg/v1/fill/w_1920,h_880,al_b,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_6b04b65869124042a744e4d732b75473~mv2.jpg");
  width: 100%;
  min-height: 43.75vw;
  // background-image: url("/images/hero_section.avif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -0.520833vw;
  // background-color: red;

  display: flex;
  padding: 3.333333vw 4.84375vw 4.166667vw 1.25vw;
  flex-direction: column;
  justify-content: space-between;

  .left-top {
    h2 {
      font-size: 4.791667vw;
      margin-bottom: 3.4375vw;
      max-width: 40.104167vw;
    }
  }

  .right-bottom {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 0.260417vw;
    background-color: #00000080;
    width: 20.833333vw;
    height: 14.457812vw;
    padding: 1.40625vw 1.041667vw 1.197917vw;
    justify-content: space-between;


    .text {
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 1.666667vw;

      h4 {
        font-size: 0.625vw;
        letter-spacing: -0.01em;
      }

      p {
        font-size: 0.729167vw;
        line-height: 1.5em;
        letter-spacing: 0em;
      }
    }

    a {
      background-color: transparent;
      border-radius: 5.208333vw;
      font-size: 0.625vw;
      border: 0.052083vw solid rgb(191, 191, 191);
      color: #fff;
      width: 6.25vw;
      height: 1.979167vw;
      display: grid;
      place-content: center;

      &:hover {
        background-color: colors.$yellow;
        border: none;
        color: #000000;
      }
    }
  }

}