@use "../../../sass/mixins" as *;

.Best-sellers {
  margin-bottom: 7.291667vw;
  padding-inline: 1.25vw;

  .lil-section-name {
    @include lil-section-name;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25vw;

    .product {
      display: flex;
      flex-direction: column;

      .img-container {
        position: relative;
        width: 23.411458vw;
        height: 31.197917vw;

        img {
          @include showSecondImageHover;
        }

        button {
          @include sale(rgba(255, 255, 255, 1));

        }
      }

      .name-price {
        display: flex;
        flex-direction: column;
        gap: 0.208333vw;
        padding-top: 0.833333vw;

        h3 {
          font-size: 0.625vw;
        }

        .price-pt {
          font-size: 0.729167vw;

          ins {
            text-decoration: none;
          }

          del {
            color: #808080;

          }
        }
      }
    }
  }

}