@use "../../../sass/colors" as colors;
@use "../../../sass/mixins" as *;

section.floating-background-section {
  width: 100%;
  min-height: 840px;
  // background-image: url("/images/hero_section.avif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  // background-color: red;

  display: flex;
  padding: 64px 93px 80px 24px;
  flex-direction: column;
  justify-content: space-between;

  .left-top {
    @include section-top-left-div;
  }

  .right-bottom {
    align-self: flex-end;
    width: 514px;
    height: 277.391px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    display: flex;

    .img-container {
      flex-shrink: 0;
      height: 100%;
      width: 347px;
      position: relative;

      img {


        @include showSecondImageHover;
      }

      .sale {
        @include sale(colors.$yellow);
      }
    }

    .product-data {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .name-and-price {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h4 {}

        .price-pt {
          display: flex;
          gap: 4px;

          ins {
            text-decoration: none;
          }

          del {
            color: #808080;
          }
        }
      }

      .add {
        @include button-fromtransparent-to-yellowblack(16px);
      }
    }
  }
}