.slider-container-review {
  justify-content: start;
  margin-bottom: 139px;

  .slick-slider {
    .slick-dots {
      display: none !important;
    }

  }

  .slick-arrow {
    top: 120%;
    width: unset;
    height: unset;

    &::before {
      color: #000;
      font-family: unset;
      /* opacity: 1; */
      /* background-color: #000; */
    }

    &.slick-prev {
      left: 45%;

      &::before {
        content: '❮ Previous';
      }
    }

    &.slick-next {
      right: 45%;

      &::before {
        content: 'Next ❯';
      }
    }
  }

  .slick-track {
    display: flex;
    gap: 12px;

    .slick-slide {
      /* width: 200px; */
      display: flex;
      gap: 12px;
      flex-direction: column;

      .slider-each-review {
        border-radius: 8px;
        border: 1px solid rgb(191, 191, 191);
        display: flex;
        flex-direction: column;
        padding: 12px;

        /* height: 200px; */
        .name-date {
          display: flex;
          gap: 8px;
          margin-bottom: 16px;

          .name {}

          .date {}
        }

        .stars {
          margin-bottom: 8px;
          display: flex;
          gap: 6px;

          .gray-star {
            /* fill: gray; */
          }
        }

        .title {
          margin-bottom: 8px;
        }

        .description {}

        .interactions {
          margin-top: 20px;
        }
      }
    }
  }
}