@use "../../sass/mixins" as *;
@use "../../sass/colors" as colors;

.header {
  @include header(60px, 60px, 60px);
}

.product-info-section {
  padding-top: 60px;
  display: grid;
  justify-content: center;

  ul.content {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    width: 980px;

    &>li {
      line-height: 1.6;
      padding-block: 24px;
      border-bottom: 1px solid rgba(217, 217, 217);

      &:last-child {
        border: none;
      }

      &::marker {
        content: "";
      }

      .data-name {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 12px;
        }

        button {
          background-color: transparent;
          border: none;

          i {}
        }
      }

      .text {
        padding-top: 17px;

        ul {
          display: flex;
          justify-content: end;

          li {
            width: 844px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.product-data-in-slider {
  z-index: 1;
  position: absolute;
  top: 45px;
  right: 60px;
  width: 320px;
  padding: 20px 20px 50px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  gap: 32px;

  .top {
    h3 {
      margin-bottom: 17px;
    }

    p.sku {
      margin-bottom: 15px;

      span {}
    }

    .price-pt {
      margin-bottom: 20px;

      ins {
        text-decoration: none;
      }
    }

    .quantity-pt {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .input-container {
        width: 76.3px;
        height: 46.39px;
        position: relative;
        // margin-bottom: 32px;

        input {
          font-weight: 500;
          padding: 1px 32px 1px 16px;
          border: 1px solid #c9c9c9;
          font: var(--font-oswald-sans-serif-16px);
          outline: none;
          width: 100%;
          height: 100%;


        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type=number] {
          -moz-appearance: textfield;
        }

        .spinner {
          height: 37px;
          // height: %;
          right: 5px;
          top: 5px;
          width: 16px;
          position: absolute;
          background: white;
          border-radius: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .button {
            // opacity: 0;
            background-color: transparent !important;
            border: none !important;
            outline: none !important;
            padding: 0;
            display: block;
            margin: 0 !important;
            height: max-content;
            cursor: pointer;
            transition: .3s ease-in-out;
            line-height: 1;

            i {
              font-size: unset;
            }

            &.up {}

            &.down {}

            .black {
              color: black;
            }


            &[disabled] {
              cursor: default;
            }
          }
        }

        input:focus {
          &+.spinner {
            .button {
              opacity: 1;
            }

            [disabled] {
              opacity: 0.5;
            }
          }
        }

        &:hover {
          .button {
            opacity: 1;
          }

          [disabled] {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .addtocard-or-addtofavorites {
      display: flex;
      justify-content: space-between;
      height: 38px;

      button {
        height: 100%;

        &.add-to-cart {
          border: 1px solid black;
          width: 234px;
          border-radius: 30px;
          font-size: 12px;
          font-weight: 700;
          background-color: #fff;

          &:hover {
            text-decoration: underline;
          }
        }

        &.add-to-favs {
          width: 38px;
          border-radius: 50%;
          border: 1px solid black;
          background-color: transparent;
        }
      }


    }

    button.buy-now {
      font-size: 12px;
      height: 38.8px;
      background-color: black;
      color: colors.$yellow;
      border-radius: 30px;
      border: none;

      &:hover {
        text-decoration: underline;
      }

    }
  }
}