@use "../../../sass/mixins" as *;

section.ShopByCollection {
  margin-bottom: 6.25vw;
  padding-inline: 1.25vw;

  .lil-section-name {
    @include lil-section-name;
  }

  .collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625vw;

    .each {
      height: 27.083333vw;
      position: relative;
      overflow: hidden;

      a {
        @include button-fromtransparent-to-yellowblack(0.625vw);
        position: absolute;
        left: 1.25vw;
        bottom: 1.25vw;
        z-index: 2;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}