section {
  display: flex;
  flex-direction: column;
  // gap: 46px;

  .header {
    padding-inline: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .location {
      gap: 4px;
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    .category {
      font-size: 20px;
    }
  }

  .main {
    display: flex;
    padding-bottom: 61px;

    .filter-pt,
    .products {
      padding: 66px 20px 32px;
      display: flex;
    }

    .filter-pt {
      display: flex;
      flex-direction: column;
      gap: 48px;
      flex-basis: 220px;
      flex-shrink: 0;
      position: sticky;
      top: 0;
      right: 0;
      height: fit-content;

      .by {

        .name {
          border-bottom: 1px solid rgba(0, 0, 0, .2);
          font-size: 16px;
          padding-bottom: 16px;
        }

        &.browse {
          .categories {
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-size: 12px;
            padding-top: 15px;

            button {
              text-align: left;
              background-color: #fff;
              border: none;
              cursor: pointer;
            }
          }
        }

        &.filter {
          .filter-details {
            border-block: 1px solid rgba(0, 0, 0, .2);

            .price-details-opener {
              padding-block: 16px 11px;
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              align-items: center;

              span {}

              .minus {
                display: none;
              }

              &.opened {
                &+.two-ranges {
                  max-height: 60px;
                }

                .plus {
                  display: none;
                }

                .minus {
                  display: initial;
                }
              }
            }
          }

          .two-ranges {

            // .two-ranges {
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.5s ease-in-out;
            // }

            .values {
              display: flex;
              justify-content: space-between;

              div:has(input) {
                /* width: min-content; */
                display: flex;
                align-items: center;
                line-height: 60px;

              }

              input {
                min-width: 1ch;
                max-width: 5.1ch;
                padding-inline: 0px;
                padding-block: 0px;
                outline: none;
                font: var(--font-montserrat-sans-serif-15px);
                background-color: transparent;
                border: none;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

              }

              .lower-range {}

              .raise-range {
                text-align: right;
              }

            }












            .range-container {
              position: relative;
              height: 5px;
            }

            .range-slider {
              margin: auto;
              text-align: center;
            }

            .range-slider input[type="range"] {
              position: absolute;
              left: 0;
              top: 5px;
              width: 100%;
            }

            input[type="range"] {
              -webkit-appearance: none;
              appearance: none;
              width: 100%;
              background: transparent;

              &::-webkit-slider-runnable-track,
              &::-webkit-slider-thumb,
              &::-moz-range-thumb,
              &::-ms-thumb {
                background-color: #000000;
              }

              &:focus {
                outline: none;
              }

              &::-webkit-slider-runnable-track {
                width: 100%;
                height: 2px;
                cursor: pointer;
                transition: background 0.2s;
                background: #eee;
                background-color: #000000;
                /* background-color: red; */
                border-radius: 5px;
                box-shadow: none;
                border: none;
              }

              &::-moz-range-track {
                width: 100%;
                height: 5px;
                cursor: pointer;
                background: var(--black);
                border-radius: 5px;
              }

              &::-webkit-slider-thumb {
                position: relative;
                z-index: 2;
                box-shadow: none;
                border: none;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background: #000000;
                cursor: pointer;
                -webkit-appearance: none;
                margin-top: -5px;
              }

              &::-moz-range-thumb {
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: #000000;
                cursor: pointer;
                border: none;
              }
            }

            .values {
              display: flex;
              justify-content: space-between;

              div:has(input) {
                /* width: min-content; */
                display: flex;
                align-items: center;
                line-height: 60px;

              }

              input {
                min-width: 1ch;
                max-width: 5.1ch;
                padding-inline: 0px;
                padding-block: 0px;
                outline: none;
                background-color: transparent;
                border: none;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

              }

              .lower-range {}

              .raise-range {
                text-align: right;
              }

            }
          }
        }
      }
    }

    .products {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-basis: 40px;
        flex-shrink: 0;

        span {
          font-size: 12px;
        }
      }

      .items {
        padding-top: 20px;
        display: grid;
        place-content: center;

        &:has(.item) {
          row-gap: 24px;
          column-gap: 12px;
          grid-template-columns: repeat(4, 1fr);

        }

        .item {
          display: flex;
          flex-direction: column;
          gap: 16px;
          border-radius: 6px;

          .image-container {
            flex-basis: 534px;
            position: relative;

            &:hover {
              .image1 {
                display: none;
              }

              .image2 {
                display: initial;
              }
            }


            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;

              &.image2 {
                display: none;
              }

            }
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 4px;

            h3 {
              font-size: 12px;
            }

            p.price-pt {
              font-size: 14px;

              ins {
                text-decoration: none;
              }

              del {
                color: #808080;
              }
            }
          }
        }

        .no-items {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          gap: 32px;

          .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            h2 {
              font: var(--font-montserrat-sans-serif-24px);
            }

            p {
              font: var(--font-montserrat-sans-serif-15px);
            }
          }

          button {
            background-color: transparent;
            border: none;
            font: var(--font-montserrat-sans-serif-16px);
            cursor: pointer;
          }
        }
      }
    }
  }
}