@use "../../sass/colors" as colors;
@use "../../sass/mixins" as *;

.marquee-container {
  @include marquee-container-style(1.510417vw, colors.$yellow, 0.625vw);
}

.header-menu {
  height: 3.618229vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-inline: 1.25vw;

  ul {
    list-style-type: none;

    li {
      &.ryst {
        a {
          font-size: 1.25vw;

        }
      }

      &.right {
        display: flex;
        align-items: center;

        .search {
          margin-right: 1.510417vw;

          i {
            font-size: 0.885417vw;
          }
        }

        .signs {
          display: flex;
          gap: 0.3125vw;
          margin-right: 0.833333vw;

          i {
            font-size: 1.041667vw;
          }
        }

        .buttons {
          display: flex;
          gap: 0.416667vw;
          align-items: center;

          a,
          button {
            cursor: pointer;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.666667vw;
            border-radius: 0.833333vw;
            border: 0.052083vw solid #000000;
            font-size: 0.625vw;

            &.login {
              width: 6.25vw;
            }

            &.menu {
              width: 4.166667vw;

            }
          }
        }
      }
    }
  }
}

.active {
  text-decoration: none !important;
}