@use "../../sass/colors" as colors;

footer {
  display: flex;
  flex-direction: column;
  padding-top: 1.25vw;
  background-color: #000;
  align-items: end;

  .top {
    height: 4.177083333333333vw;
    display: flex;
    align-items: center;
    width: 100%;
    padding-inline: 1.25vw;

    a {
      font-size: 1.25vw;
      color: #fff;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2.552083333333333vw;
    width: 50%;

    .yellow {
      margin-right: 1.25vw;
      padding: 1.6666vw 1.302083vw 1.09375vw;
      background-color: colors.$yellow;
      border-radius: 0.2604166vw;

      p.yellow-header {
        font-size: 1.041666vw;
        margin-bottom: 2.083333vw;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1.25vw;

        .error-message {
          color: #000;
          font-size: 0.729167vw;
        }

        .field {
          display: flex;
          flex-direction: column;
          gap: 0.416667vw;

          label {
            font-size: 0.625vw;
          }

          input {
            font-size: 0.833333vw;
            padding: 0.416667vw 0.625vw;
            background-color: transparent;
            border-radius: 0.3125vw;
            border: 0.052083vw solid #000;
            height: 2.1875vw;

            &:focus {
              outline: none;
              background-color: #fff;
            }
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .confirm {
            display: flex;
            flex-direction: column;
            gap: 0.416667vw;

            .input-label {
              display: flex;
              gap: 0.625vw;
              align-items: center;

              input[type="checkbox"] {
                cursor: pointer;
                border-radius: 0;
                accent-color: colors.$yellow;
                width: 0.833333vw;
                height: 0.833333vw;
                border: 0.052083vw solid #000;

                &:checked {
                  border: 0.052083vw solid #000;
                  outline: 0;
                }
              }

              label {
                cursor: pointer;
                line-height: 1.3em;
                font-size: 0.729167vw;
              }
            }

          }

          input[type="submit"] {
            background-color: transparent;
            border: 0.052083vw solid #000;
            width: 14.514062vw;
            height: 1.999479vw;
            font-size: 0.625vw;
            border-radius: 0.3125vw;
            cursor: pointer;

            &:hover {
              background-color: #000;
              color: colors.$yellow;
            }
          }
        }
      }
    }

    .black {
      width: 100%;
      margin: 0 -0.625vw 4.010417vw;

      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0.625vw 0.416667vw;

        td,
        th {
          border: 0.052083vw solid #fff;
          border-radius: 0.2604166vw;
          height: 1.5vw;
          padding-inline: 1.25vw;
        }

        thead {
          th {
            background-color: #fff;
            font-size: 0.625vw;
          }
        }

        tbody {
          td, a {
            color: #fff;
            font-size: 0.729167vw;

            &.white {
              background-color: #fff;
              color: #000;
              font-size: 0.625vw;
            }
          }
        }
      }
    }
  }

  .end {
    width: 50%;
    height: 143.203;
    padding-bottom: 2.083333vw;

    p,
    a {
      font-size: 0.729167vw;
      color: #fff;
    }

    a {
      text-decoration: underline;
    }
  }
}